.floatleft {
	float: left
}

.floatright {
	float: right
}

.clear {
	clear: both
}

.top20 {
	margin-top: 20px;
}

h4.top20 {
	color: #ff6d24;
}

.red {
	color: red
}

.wrapper {
	width: 980px;
	margin: auto;
}

.header {
	height: 80px;
	background-color: #0099cb;
}

.navbar ul li.li-giaiphap, .navbar ul li.li-dichvu, .navbar ul li.li-tintuc, .navbar ul li.li-lienhe, .navbar ul li.li-hoptac, .navbar ul li.li-dev {
	float: right;
	list-style: none;
	margin-left: 20px;
	width: 100px;
	height: 80px;
	text-align: center;
	font-size: 15px;
	cursor: pointer;
	position: relative;

}

.a-navbar {
	display: block;
	bottom: 0px;
	height: 80px;
	width: 100px;
	padding-top: 50px;
	position: absolute;
}

.navbar ul li a {
	color: #fff;
}

.navbar ul li:hover, .navbar a:hover {
	color: #ff9801;
	background-position: center bottom;
}

.navbar .dropdown-menu li a {
	color: #000;
}

.navbar ul.dropdown-menu a {
	text-align: left;
}

.dropdown-menu {
	z-index: 1000;
}

.li-lienhe {
	background: url("../img/icon-contact.png") top center no-repeat;
}

.li-tintuc {
	background: url("../img/icon-news.png") top center no-repeat;
}

.li-dev {
	background: url("../img/icon-dev.png") top center no-repeat;
}

.li-hoptac {
	background: url("../img/icon-hands.png") top center no-repeat;
}

.li-giaiphap {
	background: url("../img/icon-solution.png") top center no-repeat;
}

.li-dichvu {
	background: url("../img/icon-service.png") top center no-repeat;
}

.title-slide {
	color: #ff9801;
	text-transform: uppercase;
}

.slide {
	height: 380px;
	width: 580px;
	overflow: hidden;
}

.caption-slide {
	background: #fe6c23;
	height: 70px;
	line-height: 70px;
	color: #fff;
	font-style: italic;
	font-size: 20px;
	margin-top: -80px;
}

.caption-slide-right {
	background: #303041;
	height: 70px;
	position: relative;
}

.img-caption {
	float: left;
	vertical-align: middle;
	margin-right: 20px;
}

.login {
	position: absolute;
	width: 300px;
	background: #f4f4f4 url("../img/bg-f-login.png") top center no-repeat;
	text-align: center;
	color: #303041;
	padding-top: 60px;
	top: 0px;
	z-index: 1;
	font-style: normal;
	line-height: 60px;
	font-size: 16px;
	right: 30px;
}

.login form {
	margin-top: -15px;
	margin-bottom: 15px;
}

.input-email, .input-pw {
	border: none;
	height: 40px;
	line-height: 40px;
	width: 260px;
	padding-left: 50px;
	font-size: 15px;
	font-style: italic;
	color: #b3b3b3;
}

.input-pw {
	background: #fff url("http://payz.vn/themes/home/img/bg-pw.jpg") 0 0 no-repeat;
}

.input-email {
	background: #fff url("http://payz.vn/themes/home/img/bg-email.jpg") 0 0 no-repeat;
}

.bt-login {
	background: #008dd0;
	width: 260px;
	border: none;
	border-bottom: 3px solid #007cb7;
	height: 40px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	position: relative;
	margin-left: 20px;
}

.bt-login input {
	font-size: 16px;
	background-color: transparent;
	border: 0px;
	position: absolute;
	line-height: 40px;
	right: 0px;
	color: #fff;
	text-transform: uppercase;
	width: 260px;
	height: 40px;
}

.orange {
	color: #fe6c23;
}

.font15 {
	font-size: 15px;
	line-height: 20px;
}

.relative {
	position: relative
}

.carousel-caption {
	font-size: 20px;
	text-shadow: 0 1px 1px #606060;
	left: 0px !important;
	text-align: left;
	line-height: 70px;
}

/*********************Vtab******************************/
#vtab {
	margin: auto;
	height: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #DDDDDD;

}

#vtab > ul > li {
	width: 150px;
	height: 90px;
	background-color: #f7f7f7 !important;
	list-style-type: none;
	display: block;
	text-align: center;
	margin: auto;
	padding-bottom: 10px;
	border: 1px solid #ddd;
	position: relative;
	margin-top: -1px;
	opacity: .8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
	text-transform: uppercase;
	font-weight: bold;
	margin-left: -1px;
}

.vtab-11, .vtab-22, .vtab-33, .vtab-44, .vtab-55, .vtab-66, .vtab-77, .vtab-88, .vtab-99, .vtab-10 {
	cursor: pointer;
	line-height: 120px;
}

#vtab > ul > li.vtab-11 {
	background: url('../img/icon-need.png') no-repeat top center;
}

#vtab > ul > li.vtab-22 {
	background: url('../img/icon-receive.png') no-repeat top center;
}

#vtab > ul > li.vtab-33 {
	background: url('../img/icon-aboutme.png') no-repeat top center;
}

#vtab > ul > li.vtab-44 {
	background: url('../img/icon-we.png') no-repeat top center;
}

#vtab > ul > li.vtab-55 {
	background: url('../img/icon-sms.png') no-repeat top center;
}

#vtab > ul > li.vtab-66 {
	background: url('../img/icon-thecao.png') no-repeat top center;
}

#vtab > ul > li.vtab-77 {
	background: url('../img/icon-baocao.png') no-repeat top center;
}

#vtab > ul > li.vtab-88 {
	background: url('../img/icon-ungdung.png') no-repeat top center;
}

#vtab > ul > li.vtab-99 {
	background: url('../img/icon-sanbox.png') no-repeat top center;
}

#vtab > ul > li.vtab-10 {
	background: url('../img/icon-vitien.png') no-repeat top center;
}

#vtab > ul > li.selected {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	border: 1px solid #ddd;
	border-right: 1px solid #fff;
	z-index: 10;
	background-color: #fff !important;
	position: relative;
	border-left: 2px solid #fe6c23;
}

#vtab > ul > li:hover, #vtab > ul > li.selected {
	background-position: bottom center;
	color: #fe6c23;
}

#vtab > ul {
	float: left;
	width: 150px;
	text-align: left;
	display: block;
	margin: auto 0;
	padding: 0;
	position: relative;
}

#vtab > div {
	margin-left: 150px;
	min-height: 355px;
	padding: 20px;
	position: relative;
	z-index: 9;
	-moz-border-radius: 20px;
}

.footer-top {
	height: 50px;
	background: #ebebeb;
	margin-top: 20px;
	line-height: 50px;
}

.footer-top-left span {
	text-transform: uppercase;
	width: 230px;
	display: block;
	float: left;
}

.footer-top-left span.ht {
	width: 170px;
}

.footer-col {
	width: 230px;
	float: left;
	font-size: 14px;
	border-left: 1px solid #ebebeb;
	padding-left: 10px;
}

.footer-bot {
	padding-top: 10px;
}

.footer {
	background: #f7f7f7;
	padding-bottom: 20px;
	padding-bottom: 40px;
}

.footer-col a, .footer-bot p {
	line-height: 25px;
	margin-bottom: 0px;
	color: #333;
	display: block;
	margin-bottom: 0px;
}

.col2 {
	width: 170px;
}

.title-slide h4 {
	border-bottom: 2px solid #e6e6e6;
	padding: 10px 0px;
	background: #fff;
	width: 280px;
	margin: auto;
}

.title-slide {
	background: url("../img/line-h.png") center repeat-x;
	width: 50%;
	margin: 30px auto 10px;
}

.content > h4 {
	font-size: 18px;
	text-transform: uppercase;

}

.chinhsach {
	background: url("../img/icon-chinhsach.png") left center no-repeat;
}

.tailieu {
	background: url("../img/icon-tailieu.png") left center no-repeat;
}

.chinhsach, .tailieu {
	color: #fe6c23;
	padding: 5px 0px;
	padding-left: 30px;
	color: #fe6c23;
}

.list-dv {
	float: left;
	width: 450px;
	margin: 10px;
	height: 230px;
	position: relative;
}

.dv-right {
	padding: 5px;
	padding-left: 180px;
	text-align: justify;

}

.news {
	margin-bottom: 50px;
}

.li-news {
	width: 215px;
	float: left;
	margin-right: 20px;
	margin-bottom: 25px;

}

.li-news:last-child {
	margin-right: 0px;
}

.list-news {
	padding-left: 0px;
	padding-right: 0px;
	line-height: 25px;
}

.list-news a {
	display: block;
}

.list-news a:hover {
	color: #fe6c23;
}

.li-news > a > img {
	margin-bottom: 10px;
	width: 220px;
	height: 140px;
}

.calendar {
	background: url("../img/icon-calendar.png") left center no-repeat;
	padding: 5px 0;
	padding-left: 30px;
}

.li-news-content {
	border-top: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
	margin: 10px 0px;
	padding: 5px 0px;
	position: relative;
}

.news-description {
	width: 210px;
	margin-right: 20px;
	float: left;
}

.icon-detai-news {
	background: url("../img/icon-detail.png") center no-repeat;
	width: 30px;
	height: 30px;
	display: block;
	position: absolute;
	right: 0px;
	bottom: -30px;
	text-indent: -99999px;
}

.news-description-top {
	border-bottom: 2px solid #e4e4e4;
	padding: 20px 0px;
	margin-bottom: 20px;
}

a {
	outline: none !important;
}

#prev, #next {
	width: 30px;
	height: 30px;
	display: block;
	float: left;
	text-indent: -999px;
}

#prev {
	background: url("../img/icon-pre.png") center bottom no-repeat;
}

#next {
	background: url("../img/icon-next.png") center bottom no-repeat;
}

#prev:hover, #next:hover {
	background-position: top center;
}

.mail-phone {
	width: 350px;
	margin-left: 30px;
}

.icon-mail, .icon-phone {
	width: 50%;
	height: 90px;
	display: block;
	float: left;
	text-align: center;
	line-height: 120px;
	border: 1px solid #e6e6e6;
}

.icon-mail {
	background: #f7f7f7 url("../img/icon-mail.png") top center no-repeat;
	border-right: 1px solid #e6e6e6;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;

}

.icon-phone {
	background: #f7f7f7 url("../img/icon-phone.png") top center no-repeat;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-left: -1px;
}

.info-left {
	width: 300px;
	text-align: center;
	background: #f7f7f7;

}

.info-top img {
	border: 5px solid #e3e5ea;
	border-radius: 50%;

}

.info-left {
	border: 1px solid #e6e6e6;
}

.info-top {
	padding: 10px;
}

.info-bot a {
	padding: 5px;
	padding-left: 55px;
	width: 50%;
	float: left;
	border: 1px solid #e6e6e6;
	background-color: #fff;
	color: #333;
	border-bottom: none;
}

.info-bot a:hover {
	color: #fe6c23;
}

.bt-logout {
	background: url("../img/icon-out.png") left center no-repeat;
	padding-left: 25px;
	color: red;
}

.bt-info {
	background: url("../img/icon-info.png") 0px 5px no-repeat;

}

.bt-edit {
	background: url("../img/icon-edit.png") 0px 5px no-repeat;
}

.bt-fone {
	background: url("../img/icon-fone.png") 0px 5px no-repeat;
}

.bt-img {
	background: url("../img/icon-img.png") 0px 5px no-repeat;
}

.bt-info:hover, .bt-edit:hover, .bt-fone:hover, .bt-img:hover {
	background-position: 0px -35px;
}

.info-right {
	margin-left: 50px;
}

.info-right label {
	width: 190px;
	float: left;
}

.info-right div {
	clear: both;
}

#vtab div.vtab {
	min-height: 533px;
}

.user-info-collapse {
	margin: 10px 0px 10px 0px;
	background-color: #f1f3f0;
	padding: 5px;
	height: 30px;
}

.user-info-collapse .btn-collapse {
	position: relative;
}

.user-info-collapse .btn-collapse img {
	position: absolute;
	right: 3px;
	top: 3px;
	cursor: pointer;
}

.welcome-user {
	color: #30a1d6;
}

.sub-v-tab {
	position: absolute;
	top: 5px;
	left: -20px;
}

.sub-v-tab ul li {
	list-style: none;
	float: left;
	background-color: #fff6f2;
	border: solid 1px #ffe4d6;
	border-right: 0px;
	padding: 8px;
	margin: 0px;
}

.sub-v-tab ul li.last_item {
	border-right: solid 1px #ffe4d6;
}

.sub-v-tab ul li a {
	color: #000;
}

.sub-v-tab ul li a:hover, .sub-v-tab ul li a.active {
	color: #fe6c23;
}

.client-cp-content {
	position: relative;
}

.client-cp-content .box-content {
	margin-top: 40px;
}

.vtab-88 a, .vtab-99 a, .vtab-77 a, .vtab-10 a {
	color: #000;
}

#vtab .selected a {
	color: #fe6c23;
}

.vtab-88 a:hover, .vtab-99 a:hover, .vtab-77 a:hover, .vtab-10 a:hover {
	color: #fe6c23;
}

.ul-vtab li a, .navbar ul li a {
	display: block;
}

.breadcrumb {
	margin-top: 10px;
}

.bt-cpanel {
	background: url("../img/icon-info.png") -10px -10px no-repeat;
	padding-left: 25px;
}

.social_tools {
	height: 140px;
	width: 60px;
	position: fixed;
	top: 30%;
	left: 50%;
	margin-left: -530px; 
	background: transparent;
	z-index: 100;
	text-align: center;
	padding: 5px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

.support_tools {
	height: 200px;
	width: 100px;
	top: 35%;
	position: fixed;
	right: 50%;
	margin-right: -570px;
	background: #fff;
	z-index: 100;
	text-align: left;
	padding: 5px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	font-size: 12px;
}

#nav_footer {
	background-color: #303041;
	min-height: 30px !important;
	color: #fff;
	font-size: 12px;
	font-weight: normal;
	padding: 3px;
}

.skype_chat {
	height: 20px;
	margin-top: -13px;
	width: 65px;
}

.dv-link {
	padding-left: 180px;
}

.hot_news {
	margin-top: 5px;
	color: red;
	font-weight: bold;
	float: right;
	padding-right: 20px;
}

.hot_news a {
	color: red;
}
.pagelogin
{
	padding: 4%;
}
.form-loggin
{
	background: #f9f9f9;
	padding: 3%;
	width:55%;
	border: 1px solid #eee;
	box-shadow: 0 3px 3px 0 #eee;
	float:left;
}
.list-ulti
{
	width: 45%;
	float:right;
}
.s24
{
	font-size: 24px;
}
.s18
{
	font-size: 18px;
}
.form-loggin .s24
{
	text-transform: uppercase;
	margin-bottom: 3%;
}
.mag-r15
{
	margin-right: 15px;
}
.ic-lock
{
	background-position: -136px -328px;
	width: 27px;
	height: 27px;
}
.form-loggin li input
{
	height: 35px;
	
}
.form-loggin .register input
{
	height: 23px;
	
}
.form-loggin li button.bt-blue
{
	width: 100px;
	padding: 3% 0;
	margin-bottom: 15px;
}
.list-ulti span.fl
{
	width: 100px;
}
.list-ulti li
{
	margin-bottom: 40px;
	list-style:none;
}
.ic-money
{
	background-position: 0 -373px;
	height: 43px;
}
.ic-quesanser
{
	background-position: -120px -373px;
	height: 48px;
}
.form-loggin label.cl-org
{
	margin-bottom: 2px;
}
.codebeb input
{
	border: 0;
	width: 80%;
}
.codebeb img
{
	top: 3px;
	right: 3px;
}
.selectopt
{
	width: 140px;
	overflow: hidden;
}
.selectopt .arr-btt
{
	right: 0;
	top: 3px;
}
.box-mail select.s16
{
	font-size: 16px;
	color: #f60;
	border: 0 none;
	min-width: 165px;
	height: 30px;
}
select.s16 option
{
	font-size: 13px;
	color: #333;
}
.action-mail
{
	margin: 15px 0;
	padding-left: 5px;
}
.action-mail button, .bt-del2, .bt-save, .bt-repai
{
	background: 0;
	text-transform: none;
	color: #333;
	padding: 0;
}
.delete
{
	background-position: -85px -630px;
	width: 10px;
	height: 12px;
	padding-top: 3px;
}
.del-select
{
	background-position: -106px -630px;
	width: 15px;
	height: 14px;
}
.ic-mail
{
	width: 21px;
	height: 16px;
}
.arr-next-pre .ic-pre
{
	margin: 0 5px 0 10px;
}
.list-mail li
{
	padding: 5px;
	margin-bottom: 10px;
}
.unread
{
	font-weight: bold;
}
.sapo-mail .cl9
{
	font-weight: normal;
}
.date
{
	font-size: 11px;
}
.list-mail .date
{
	right: 0;
}
.mag-l18
{
	margin-left: 18px;
}
.bg-f6
{
	background: #f6f6f6;
}
.mail-detail h1
{
	border-top: 1px solid #eee;
	padding: 10px 0;
}
.ic-reply
{
	background-position: -131px -630px;
	width: 13px;
	height: 10px;
	padding-top: 3px;
}
.ic-attack
{
	background-position: -152px -630px;
	width: 16px;
	height: 8px;
}
.bor5
{
	border: 5px solid #f3f3f3;
	padding: 5px;
}
.add-mail, .cont-mail
{
	border-bottom: 1px solid #eee;
}
.add-mail
{
	line-height: 18px;
	padding-bottom: 10px;
}
.cont-mail
{
	line-height: 18px;
}
.cont-mail, .atk-file
{
	padding: 10px 5px;
}
.add-mail div.fr
{
	padding-top: 20px;
}
.add-mail div.fr a:after
{
	content: "Trả lời";
}
.atk-file ul, .mag-t10
{
	margin-top: 10px;
}
.atk-file ul li
{
	padding: 5px 0;
}
.dash5px
{
	border-bottom: 1px dashed #e5e5e5;
	padding: 10px 0;
}
.magb10
{
	list-style:none;
}
.register li
{
	list-style:none;
}
.tit-icon
{
	cursor: pointer;
}
.tit-icon span.mag-r5
{
	border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	-webkit-border-radius: 3px 0 0 3px;
}
.tit-icon .clearfix
{
	padding: 0;
	border-bottom: 0;
	position: relative;
}
.tit-icon .arr-l
{
	top: 10px;
	right: 5px;
	background-position: -154px -268px;
}
.tit-icon .clearfix span.fl
{
	padding: 8px;
}
.tit-icon ul li
{
	margin: 5px;
}
.tit-icon ul li:hover img
{
	border-color: #76d8f3;
}
.list-icon .listicon ul
{
	display: none;
}
div.txt-center button, div.bt-back, .col-show
{
	vertical-align: top;
}
.col-code
{
	width: 55%;
}
.col-show
{
	width: 44%;
}
.code-css, .code-css textarea
{
	height: 420px;
	padding: 0;
}